@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(230, 229, 227);
    --secondary-color: rgb(52, 183, 167);
    --other-color: rgb(220, 219, 217);
}

body{
    background-color: #e6e5e3;
    font-family: "Roboto", sans-serif;
}

.container{
    width: 100%;
    height: 80px;
}

.nav-bar{
    width: 100%;
    height: 70px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--primary-color);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 700px;
    font-weight: 300;
}

.nav-bar ul a:hover{
    color: var(--secondary-color);
    cursor: pointer;
}

.nav-bar a{
    text-decoration: none;
    color: black;
}

.logo{
    text-decoration: none;
    color: black;
}

.medias{
    width: 60px;
    display: flex;
    justify-content: space-around;
}

.menu{
    display: none;
}

.portfolio{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.line{
    width: 75px;
    height: 5px;
    background-color: var(--secondary-color);
}

.portfolios{
    width: 100%;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 50px;
}

.portfolio-item{
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 15px;
    width: 100%;
    border-radius: 10px;
}

.portfolio-title{
    font-size: 26px;
}

.title-img-group{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.small{
    display: grid;
    grid-template-columns: 0.75fr 1fr;
}

.portfolio-img{
    width: 100%;
    height: auto;
}

.portfolio-paragraphe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 30px;
    gap: 10px;
}

.portfolio-paragraphe ul{
    padding-left: 25px;
}

.copyright{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.copyright span{
    font-weight: bold;
}

@media screen and (max-width: 972px) {
    .medias{
        display: none;
    }

    .menu{
        display: block;
    }

    .nav-bar{
        padding: 0px 20px;
        justify-content: space-between;
    }

    nav ul li{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 20px;
        padding: 20px;
    }

    nav ul li img{
        display: flex;
    }

    .nav-bar ul{
        display: none;
    }

    .nav-bar.show ul{
        display: flex;
        flex-direction: column;
        background-color: var(--other-color);
        position: absolute;
        top: 70px;
        right: 0px;
        width: 300px;
    }

    .portfolios{
        padding: 20px 5px;
    }

    .portfolio .text{
        padding-left: 10px;
    }

    .portfolio-item{
        display: flex;
        flex-direction: column;
        padding: 20px 5px
    }
}