@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(230, 229, 227);
    --secondary-color: rgb(52, 183, 167);
    --other-color: rgb(220, 219, 217);
}

body{
    background-color: #e6e5e3;
    font-family: "Roboto", sans-serif;
}

.container{
    width: 100%;
    height: 80px;
}

.nav-bar{
    width: 100%;
    height: 70px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--primary-color);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 700px;
    font-weight: 300;
}

.nav-bar ul a:hover{
    color: var(--secondary-color);
    cursor: pointer;
}

.nav-bar a{
    text-decoration: none;
    color: black;
}

.logo{
    text-decoration: none;
    color: black;
}

.medias{
    width: 60px;
    display: flex;
    justify-content: space-around;
}

.menu{
    display: none;
}

.about{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.line{
    width: 75px;
    height: 5px;
    background-color: var(--secondary-color);
}

.about p{
 padding-left: 10px;       
}

.description{
    width: 100%;
    padding: 10px 50px;
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.description .image{
    width: 500px;
    background-image: url('/Images/me2.png');
    background-color: var(--other-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.presentation{
    width: 100%;
    padding-right: 50px;
}

.presentation .presentation-text p{
    margin-top: 10px;
    line-height: 30px;
    text-align: justify;
}

.infos{
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.infos-left, .infos-right{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info-item{
    display: flex;
}

.info-item p span{
    font-weight: bold;
    margin-right: 5px;
}

.other-presentation{
    margin-top: 20px;
    line-height: 30px;
}

.other-presentation p{
    text-align: justify;
}

.competences{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
}

.competences-text{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.competences-text p{
    line-height: 25px;
}

.competence-evaluation{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
}

.competences-evaluation-left, .competences-evaluation-right{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.competences-evaluation-left progress, .competences-evaluation-right progress{
    width: 100%;
    border-radius: 10px;
    height: 10px;
}

progress::-webkit-progress-bar {
    background-color: var(--other-color);
}

progress::-webkit-progress-value {
    background-color: var(--secondary-color);
}

.copyright{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.copyright span{
    font-weight: bold;
}

@media screen and (max-width: 972px) {
    .medias{
        display: none;
    }

    .menu{
        display: block;
    }

    .nav-bar{
        padding: 0px 20px;
        justify-content: space-between;
    }

    nav ul li{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 20px;
        padding: 20px;
    }

    nav ul li img{
        display: flex;
    }

    .nav-bar ul{
        display: none;
    }

    .nav-bar.show ul{
        display: flex;
        flex-direction: column;
        background-color: var(--other-color);
        position: absolute;
        top: 70px;
        right: 0px;
        width: 300px;
    }

    .description{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding: 10px 8px;
    }

    .description .image{
        width: 360px;
        height: 350px;
        margin: auto;
    }

    .infos{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-left: 20px;
    }
}